In [7]:
from smartfin_web_scraper import Ride

In [8]:
ride = Ride('15692')
start_time, end_time, year_date = ride.get_ride_timeframe()

TypeError: __init__() missing 1 required positional argument: 'data'

In [9]:
start_time

'09/11/2018 19:16:03'

In [10]:
end_time

'09/11/2018 20:38:15'

In [11]:
year_date

NameError: name 'year_date' is not defined

In [1]:
from smartfin_web_scraper import Ride

In [2]:
ride = Ride('15692', data='motion')
start_time, end_time = ride.get_ride_timeframe()

fetching ride from: https://surf.smartfin.org/ride/15692
fetching motion data from: https://surf.smartfin.org/media/201811/google_105349665704999793400_0006667E229D_181109191556_Motion.CSV

In [3]:
start_time

'09/11/2018 19:16:03'

In [4]:
end_time

'09/11/2018 20:38:15'

In [5]:
ride.get_ride_dataframe().head()

,Time,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3,elapsed
UTC,,,,,,,,,,,
2018-11-09 19:16:03.809000+00:00,1414742887,493.0,48.0,110.0,75.0,-124.0,-86.0,-309.0,209.0,39.0,0.003
2018-11-09 19:16:04.061000+00:00,1414743138,513.0,89.0,62.0,34.0,-36.0,-92.0,-320.0,194.0,38.0,0.255
2018-11-09 19:16:04.312000+00:00,1414743387,494.0,92.0,80.0,69.0,-63.0,-42.0,-329.0,189.0,49.0,0.506
2018-11-09 19:16:04.565000+00:00,1414743639,421.0,205.0,-104.0,192.0,-92.0,-37.0,-330.0,180.0,64.0,0.759
2018-11-09 19:16:04.817000+00:00,1414743889,534.0,306.0,-32.0,-421.0,-233.0,-229.0,-325.0,161.0,97.0,1.011

In [6]:
mean, means = ride.get_CDIP_heights('067')

retriving CDIP wave heights from: http://thredds.cdip.ucsd.edu/thredds/dodsC/cdip/archive/067p1/067p1_historic.nc
calculating significant wave height between 09/11/2018 19:16:03 - 09/11/2018 20:38:15
mean wave height: 2.1633331775665283

In [7]:
mean

2.1633332

In [8]:
means

array([2.3 , 2.15, 2.04], dtype=float32)