In [86]:
import sys
sys.path.append('../smartfin_module')
from smartfin_ride_api import Ride
import pandas as pd
import numpy as np

In [87]:
ride = Ride()

In [88]:
dfs = ride.get_rides(ride_ids='15692', convert_imu=True, data='motion')
df = dfs['15692']
df = ride.label_data(footage_file='../labelled_footage/footage3.txt', ride_id='15692', labelling_method='complex')

fetching ride from: https://surf.smartfin.org/ride/15692
fetching ocean data from: https://surf.smartfin.org/media/201811/google_105349665704999793400_0006667E229D_181109191556_Ocean.CSV
fetching motion data from: https://surf.smartfin.org/media/201811/google_105349665704999793400_0006667E229D_181109191556_Motion.CSV

In [89]:
df.head()

,Time,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3,...,SIT-BACK,OFF-BOARD,PADDLING,WIPE-OUT,PULL-BACK LEASH,PADDLING FOR POSITION,NEW,DISCARD,"DONE, OUT OF WATER",WALKING OUT OF WATER
UTC,,,,,,,,,,,,,,,,,,,,,
2018-11-09 19:16:03.789000+00:00,1.414743e+09,493.0,48.0,110.0,75.0,-124.0,-86.0,-309.0,209.0,39.0,...,0,0,0,0,0,0,0,0,0,0
2018-11-09 19:16:04.053000+00:00,1.414743e+09,513.0,89.0,62.0,34.0,-36.0,-92.0,-320.0,194.0,38.0,...,0,0,0,0,0,0,0,0,0,0
2018-11-09 19:16:04.284000+00:00,1.414743e+09,494.0,92.0,80.0,69.0,-63.0,-42.0,-329.0,189.0,49.0,...,0,0,0,0,0,0,0,0,0,0
2018-11-09 19:16:04.548000+00:00,1.414744e+09,421.0,205.0,-104.0,192.0,-92.0,-37.0,-330.0,180.0,64.0,...,0,0,0,0,0,0,0,0,0,0
2018-11-09 19:16:04.812000+00:00,1.414744e+09,534.0,306.0,-32.0,-421.0,-233.0,-229.0,-325.0,161.0,97.0,...,0,0,0,0,0,0,0,0,0,0

## Calculate standard deviation

In [90]:
import statistics
imu = df['IMU A2']
imu = np.array(imu)
std = statistics.stdev(imu)

In [91]:
bad_indices = []
for i in range(0, len(imu)):
    if imu[i] - imu.mean() > (std):
        bad_indices.append(i)
        
bad_indices

[15,
 19,
 30,
 32,
 34,
 38,
 45,
 47,
 49,
 54,
 59,
 64,
 65,
 391,
 410,
 412,
 465,
 489,
 517,
 683,
 1081,
 1083,
 1106,
 1147,
 1151,
 1188,
 1217,
 1446,
 1487,
 1579,
 2056,
 2057,
 2521,
 2811,
 2828,
 2863,
 2946,
 3110,
 3114,
 3307,
 3322,
 3358,
 3925,
 3966,
 3975,
 3998,
 5683,
 5688,
 6600,
 6622,
 6681,
 6683,
 6686,
 6689,
 6690,
 7259,
 7276,
 7324,
 7358,
 7362,
 7660,
 7661,
 8686,
 8687,
 8694,
 8701,
 9141,
 9142,
 10216,
 10253,
 10322,
 11399,
 11462,
 11465,
 11466,
 11529,
 11633,
 11914,
 11944,
 11963,
 12471,
 12484,
 12501,
 12515,
 12547,
 12550,
 12567,
 12568,
 13282,
 13491,
 13512,
 13546,
 13559,
 13564,
 13653,
 13876,
 13889,
 13894,
 14333,
 14342,
 14398,
 14569,
 14570,
 14601,
 14603,
 15086,
 15103,
 15137,
 15333,
 15359,
 15394,
 15411]

In [92]:
bad_rows = pd.DataFrame()
# for i in bad_indices:
#     bad_rows = bad_rows.append(df.iloc[i]) 
    
bad_rows = df.iloc[bad_indices]
bad_rows = bad_rows.drop(['IMU A1', 'IMU A2', 'IMU A3', 'IMU G1', 'IMU G2', 'IMU G3', 'IMU M1', 'IMU M2', 'IMU M3', 'Time', 'TimeDelta'], axis=1)

In [93]:
for col in bad_rows.iteritems():
    print('--------------------------------')
    print(col[1].value_counts())

--------------------------------
0    112
Name: SYNC, dtype: int64
--------------------------------
0    112
Name: FLIP BOARD RIGHT SIDE UP, dtype: int64
--------------------------------
0    103
1      9
Name: WALKING IN WATER, dtype: int64
--------------------------------
0    110
1      2
Name: PUSH-OFF, dtype: int64
--------------------------------
0    100
1     12
Name: PADDLING INTO WAVES, dtype: int64
--------------------------------
0    111
1      1
Name: SIT-UP, dtype: int64
--------------------------------
0    104
1      8
Name: FLOATING, dtype: int64
--------------------------------
0    111
1      1
Name: TURNING TO SURFER'S LEFT, dtype: int64
--------------------------------
0    110
1      2
Name: LAY-DOWN, dtype: int64
--------------------------------
0    105
1      7
Name: PADDLING FOR A WAVE, dtype: int64
--------------------------------
0    111
1      1
Name: POP-UP, dtype: int64
--------------------------------
0    108
1      4
Name: SURFING, dtype: int64
--------------------------------
0    110
1      2
Name: STEP-OFF, dtype: int64
--------------------------------
0    109
1      3
Name: TURNING TO SURFER'S RIGHT, dtype: int64
--------------------------------
0    112
Name: SIT-BACK, dtype: int64
--------------------------------
0    112
Name: OFF-BOARD, dtype: int64
--------------------------------
0    112
Name: PADDLING, dtype: int64
--------------------------------
0    111
1      1
Name: WIPE-OUT, dtype: int64
--------------------------------
0    110
1      2
Name: PULL-BACK LEASH, dtype: int64
--------------------------------
0    112
Name: PADDLING FOR POSITION, dtype: int64
--------------------------------
0    112
Name: NEW, dtype: int64
--------------------------------
0    112
Name: DISCARD, dtype: int64
--------------------------------
0    112
Name: DONE, OUT OF WATER, dtype: int64
--------------------------------
0    112
Name: WALKING OUT OF WATER, dtype: int64