In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt

plt.rc("font", size=14) 

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

#from mpl_toolkits.basemap import Basemap


import os
import datetime
import pytz
import re

import peakutils
import statsmodels.api as sm

import requests

In [2]:
import sys
sys.path.append('../smartfin_module')
from smartfin_ride_api import Ride
ride = Ride()

ride_ids = ['14814']

In [3]:
dfs = ride.get_rides(ride_ids, data='motion', convert_imu=True)

fetching ride from: https://surf.smartfin.org/ride/14814
fetching ocean data from: https://surf.smartfin.org/media/201807/google_117589279598321562176_000666D321BE_180717191228_Ocean.CSV
fetching motion data from: https://surf.smartfin.org/media/201807/google_117589279598321562176_000666D321BE_180717191228_Motion.CSV

In [5]:
df = dfs['14814']
df.head()

,Time,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3,TimeDelta
UTC,,,,,,,,,,,
2018-07-17 19:12:37.968000+00:00,793390.849,337.0,-7.661445,354.0,-24.0,-11.0,-97.0,27.0,1.0,181.0,0.0
2018-07-17 19:12:38.232000+00:00,793391.099,354.0,-7.776367,315.0,-131.0,-237.0,-18.0,15.0,15.0,179.0,250.0
2018-07-17 19:12:38.496000+00:00,793391.351,342.0,-9.519346,349.0,44.0,256.0,19.0,7.0,21.0,175.0,502.0
2018-07-17 19:12:38.727000+00:00,793391.601,312.0,-10.438719,395.0,-57.0,126.0,99.0,21.0,45.0,125.0,752.0
2018-07-17 19:12:38.991000+00:00,793391.853,202.0,-10.917560,424.0,336.0,743.0,143.0,39.0,55.0,97.0,1004.0

In [6]:
df['IMU A2'].mean()

-4.920102018398838

In [22]:
from scipy import signal
imu = np.array(df['IMU A2'])
imu = signal.detrend(imu)
imu

array([-3.10659875, -3.22142274, -4.96430386, ..., -6.47515646,
       -7.60512195, -6.55157554])

In [29]:
df['IMU A2'] = imu

In [32]:
df['IMU A2'].head()

UTC
2018-07-17 19:12:37.968000+00:00   -3.106599
2018-07-17 19:12:38.232000+00:00   -3.221423
2018-07-17 19:12:38.496000+00:00   -4.964304
2018-07-17 19:12:38.727000+00:00   -5.883580
2018-07-17 19:12:38.991000+00:00   -6.362322
Name: IMU A2, dtype: float64