In [1]:
from smartfin_ride_module import Ride

In [30]:
ride = Ride()
data, mdf, odf = ride.get_ride_data('15692')

ride initialized
fetching ride from: https://surf.smartfin.org/ride/15692
fetching ocean data from: https://surf.smartfin.org/media/201811/google_105349665704999793400_0006667E229D_181109191556_Ocean.CSV
fetching motion data from: https://surf.smartfin.org/media/201811/google_105349665704999793400_0006667E229D_181109191556_Motion.CSV
calcualting start_time: 09/11/2018 19:16:03
calcualting end_time: 09/11/2018 20:38:15
retriving CDIP wave heights from: http://thredds.cdip.ucsd.edu/thredds/dodsC/cdip/archive/201p1/201p1_historic.nc
calculating significant wave height between 09/11/2018 19:16:03 - 09/11/2018 20:38:15
calculating significant wave height between 09/11/2018 19:16:03 - 09/11/2018 20:38:15
mean wave height: 0.42014166712760925
mean ocean temp: 19.481172561645508
retrieved nearest CDIP buoy: 201
retrieved CDIP means height for ride: [0.4274497, 0.41283363]
retrieved CDIP means temp for ride: [19.540009, 19.540009, 19.540009, 19.459991, 19.459991, 19.5, 19.5, 19.5, 19.459991, 19.459991, 19.459991, 19.459991, 19.459991, 19.459991, 19.459991, 19.459991, 19.459991]

In [31]:
data['start_time']

'09/11/2018 19:16:03'

In [32]:
data['end_time']

'09/11/2018 20:38:15'

In [33]:
data['CDIP_buoy']

'201'

In [34]:
data['CDIP_height']

0.42014167

In [35]:
data['CDIP_temp']

19.481173

In [36]:
data['latitude']

32.86058653508772

In [37]:
data['longitude']

-117.25365867324561

In [38]:
mdf

,Time,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3
UTC,,,,,,,,,,
2018-11-09 19:16:03+00:00,1.414743e+06,9.442731,-8.887277,2.106897,75.00,-124.00,-86.00,-309.00,209.00,39.00
2018-11-09 19:16:04+00:00,1.414744e+06,9.394847,-6.493075,0.028730,-31.50,-106.00,-100.00,-326.00,181.00,62.00
2018-11-09 19:16:05+00:00,1.414745e+06,6.086061,-3.466804,-4.304775,-112.75,-552.00,-330.00,-261.25,28.25,240.25
2018-11-09 19:16:06+00:00,1.414746e+06,0.804452,-2.480393,-3.294421,-45.75,-299.50,202.50,-50.25,-49.25,314.25
2018-11-09 19:16:07+00:00,1.414747e+06,-0.881066,-1.647211,-4.769250,13.25,-42.50,19.75,1.75,-82.75,287.75
...,...,...,...,...,...,...,...,...,...,...
2018-11-09 20:38:11+00:00,1.419641e+06,9.562441,-9.840169,2.015918,4.00,20.00,-0.75,-289.00,229.50,3.50
2018-11-09 20:38:12+00:00,1.419642e+06,9.595960,-9.969456,1.939303,-37.00,18.00,-5.25,-303.25,262.25,24.75
2018-11-09 20:38:13+00:00,1.419643e+06,9.605537,-10.022128,1.896208,10.25,20.75,1.00,-300.50,262.50,33.50
2018-11-09 20:38:14+00:00,1.419644e+06,9.600749,-10.026917,1.896208,9.50,20.75,1.50,-303.50,262.00,37.00
2018-11-09 20:38:15+00:00,1.419644e+06,9.595960,-10.017340,1.877054,10.00,20.00,2.00,-309.00,265.00,35.00

In [39]:
odf

,Time,Temperature 1,Calibrated Temperature 1,Temperature 1 Stable,Temperature 2,Calibrated Temperature 2,Temperature 2 Stable
UTC,,,,,,,
2018-11-09 19:16:03+00:00,1.414742e+09,375.0,23.438,0.0,5207.0,20.512,0.0
2018-11-09 19:16:09+00:00,1.414748e+09,377.0,23.562,0.0,5239.0,20.637,0.0
2018-11-09 19:16:15+00:00,1.414754e+09,375.0,23.438,0.0,5250.0,20.680,0.0
2018-11-09 19:16:21+00:00,1.414761e+09,374.0,23.375,0.0,5250.0,20.680,0.0
2018-11-09 19:16:27+00:00,1.414767e+09,369.0,23.062,0.0,5111.0,20.135,0.0
...,...,...,...,...,...,...,...
2018-11-09 20:37:49+00:00,1.419619e+09,450.0,28.125,0.0,6662.0,26.217,0.0
2018-11-09 20:37:55+00:00,1.419625e+09,449.0,28.062,0.0,6635.0,26.111,0.0
2018-11-09 20:38:01+00:00,1.419631e+09,448.0,28.000,0.0,6608.0,26.005,0.0
2018-11-09 20:38:07+00:00,1.419637e+09,447.0,27.938,0.0,6587.0,25.923,0.0
2018-11-09 20:38:13+00:00,1.419643e+09,446.0,27.875,0.0,6560.0,25.817,0.0